body {
  background: white;
 
  header{ color: teal;
  }
  h1{ font-size: 200%;
      font-family: verdana;
      text-align:center
  }
  p{
    border: 2px solid powderblue;
    font-family: Times;
    margin: 50px;
    text-align: center;
	 }
  img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      border: solid 10px;      
 }

